@import url(../css/aside.css);
@import url(../css/nav.css);
@import url(../css/animationsAndLoaders.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color:var(--main-text-color);
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 25px;
    height: 70px;

    background-color: inherit;
}
.pageHeader {
    width: 400px;
}
 .left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1;
    padding: 10px 15px;
    width: 50%;
    border-radius: 50px;

    background-color: var(--secondary-bg-color);
}
.left-header.active {
    border: 1px solid var(--light-gray-color);
}

.right-header {
    display: flex;
    width: 410px;
    justify-content: right;
    gap: 20px;
}
.right-header svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}
.right-header svg:active {
    scale: 1.2;
    fill: orangered;
}
header input[type="text"] {
    width: 100%;
    border: none;

    font-size: 1.1rem;

    outline: none;
    background: none;
}


main {
    display: flex;
    gap: 10px;
    margin: 0 10px;
    border-radius: 30px;    
}
section {
    background-color: var(--secondary-bg-color);
    border-radius: 30px;
}
.album-preview {
    flex: 1;
    padding: 10px;
}
.album-preview .album-cover {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    height: 300px;
    background-color: var(--primary-bg-color);
    border-radius: 20px;
    filter: brightness(80%);
    background-position: center;
}
.album-preview .texts {
    position: absolute;
    top: 50px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.texts span p{
    font-weight: 500;
    font-size: 1.3rem;
}
.texts span .album-artist {
    font-weight: 600;
    color: white;
}
.texts h1 {
    font-size: 5rem;
}
.texts img {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.album-navigation {
    display: flex;
    align-items: center;
    padding: 30px 10px 0 15px;
    gap: 20px;
}
.album-navigation svg.play {
    height: 70px;
    width: 70px;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--primary-color);
}
.album-navigation svg:hover {
    background-color: var(--gray-color);
    border-radius: 10px;
}

.song {
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--gray-color);
}
.song-number {
    width: 120px;
}
.song-card .song-title .number {
    width: 25px;
}
.song-title {
    flex: 1;
}
.song-title .title {
    font-size: 1.1rem;
}
.song .song-duration,
.song-card .song-duration {
    width: 300px;
    text-align: left;
}
.song-listeners {
    width: 200px;
}
.song-card svg {
    display: flex;
    margin: 0 35px;
}
.song-card {
    display: flex;
    align-items: center;
    padding: 15px;

    transition: all 0.3s ease-out;
}
.song-card:hover {
    background-color: var(--primary-bg-color);
    border-radius: 15px;
}
svg.btnPlay {
    display: none;
    margin: 0;
    transition: all .3s ease-out;
}
.song-card:hover .song-title .number {
    display: none;
}
.song-card:hover svg.btnPlay {
    display: block;
}
.song-card .song-title {
    font-weight: 600;
    display: flex;
    gap: 20px;
    align-items: center;

    cursor: pointer;
}
.song-card .song-title img {
    border-radius: 10px;
}
.song-duration, .song-listeners, .song-number, .song-title, .add-song {
    font-weight: 500;
}
.song-card svg:active {
    scale: 0.5;
}
.song-card svg:hover {
    border-radius: 50%;
    background-color: whitesmoke;
    fill: black;
}