:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}
/* orange #FF6A21
dark gray #212121
super dark gray 	#121212
gray 	#535353
light gray 	#b3b3b3 */
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

u {
    color: inherit;
}

html, body {
    scroll-behavior: smooth;
}
body {
    height: 100dvh;
    width: 100%;
    animation: fade forwards 3s ease;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    height: 85px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--main-bg-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}
nav .logo h1 {
    font-size: clamp(2em, 2vw, 2.2em);
}
nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-menu li a,
.nav-menu li a i {
    transition: all .3s ease;
}
nav .nav-menu li a:hover,
nav .nav-menu li a:hover i{
    color: var(--primary-color);
    cursor: pointer;
}
nav .nav-menu li:hover:nth-child(3) {
    all: unset;
}
.nav-menu .loginBtn {
    padding: 10px 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 1.2rem;

    cursor: pointer;
    transition: all .1s ease-out;
}
.nav-menu .loginBtn:hover {
    background-color: var(--primary-color);
    scale: 1.05;
}
.nav-menu .loginBtn:active {
    background-color: orangered;
    scale: 0.95;
}

main {
    /* padding: 80px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    background-color: white
}

.download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/download-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    padding: 10px;
}
.download-container > h1 {
    font-size: clamp(2.3em, 4vw, 4em);
    text-align: center;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.6s;
}
.download-container > p {
    font-size: clamp(1rem, 2vw, 1.6rem);    
    text-align: center;
    margin-bottom: 70px;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.8s;
}
.microsoft-download {
    border: none;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px); 

    transition: all .3s ease;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1s;
}

.microsoft-download.btn:hover {
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.download-container a {
    margin: 30px 0;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.2s;
}

.download-platforms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 60px 10px;
    gap: 10px;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.6s;
}
.download-platforms h1,
.download-platforms p {
    color: black;
}
.download-platforms p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.download-platforms .platform-collection a,
.download-platforms .platform-collection img {
    display: flex;
    flex-wrap: wrap;
}
.download-platforms .platform-collection img:hover {
    cursor: pointer;
}
.load-container.active {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader.active {
    width: 48px;
    height: 48px;
    border: 5px solid white;
    border-bottom-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    animation: rotation 0.7s linear infinite;
}

.error-container, .error {
    display: none;
}

.error-container.active {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-bg-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    opacity: 0;
    animation: slideUp 0.5s ease-out forwards;
}

footer {
    background-color: black;
    padding: 50px 100px 50px 100px;
}

footer .container,
footer .last-container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

footer .container .footer-containers.logo {
    display: flex;
}
footer .container .footer-containers.logo h1 {
    margin: 1px 0 0 5px;
    font-weight: 600;
    font-size: 1.4rem;
}
footer .footer-containers p{
    color: gray;
}
footer .footer-containers li{
    margin: 15px 0;
}
footer .footer-containers li:hover,
footer .last-container li:hover{
    color: var(--primary-color);
    cursor: pointer;
}
footer svg {
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}
footer .last-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}
@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rightToLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.9;
    } to {
        opacity: 1;
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
nav .nav-menu.active {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding: 20px;
    transform: translateY(0);
}
nav .nav-menu.active :nth-child(3){
    display: none;
}
nav .hamburger-menu {
    position: fixed;
    right: 10px;
    display: none;
    background-color: transparent;
    border: none;
    font-size: 2em;
}


@media (max-width: 481px) {
  /* Styles for screens wider than 480px */

}
@media (max-width: 768px) {
  /* Styles for screens wider than 768px (e.g., tablet portrait, small laptops) */

  .panel3 .description-images {
    margin: 20px;
    width: 100%;
  }
  .panel1 img {
    width: 100%;
  }
  footer {
    padding: 20px;
  }


}
@media (max-width: 1128px) {
  /* Styles for screens wider than 1024px (e.g., large tablets landscape, desktops) */
    .panel1 img {
    width: 60%;
  }
  nav .nav-menu{
    display: none;
  }
  nav {
    justify-content: space-between;
  }
  
  .container {
    flex-direction: column;
    align-items: start;
  }

  .nav-menu .loginBtn {
    display: flex;
    margin-right: 20px;
  }

  nav .hamburger-menu {
    display: flex;
  }
  .panel1 {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .panel1, .panel2, .panel3, .panel4 {
    padding: 50px 70px;
  }
}