@import url(../css/landingNavFooter.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 85px;
    background-color: white
}

.download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 550px;
    width: 100%;
    padding: 10px;

    background-image: url("../assets/images/download-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.download-container > h1 {
    font-size: clamp(2.3em, 4vw, 4em);
    text-align: center;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.6s;
}
.download-container > p {
    margin-bottom: 70px;

    text-align: center;
    font-size: clamp(1rem, 2vw, 1.6rem);    

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.8s;
}
.microsoft-download {
    display: flex;
    align-items: center;

    padding: 10px;
    border: none;
    border-radius: 10px;

    text-align: left;
    
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px); 
    opacity: 0;

    transition: all .3s ease;

    animation: slideUp 1s ease-out forwards;
    animation-delay: 1s;
}

.microsoft-download.btn:hover {
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.download-container a {
    margin: 30px 0;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.2s;
}

.download-platforms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding: 60px 10px;

    text-align: center;

    background-color: white;
    opacity: 0;

    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.6s;
}
.download-platforms h1,
.download-platforms p {
    color: black;
}
.download-platforms p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.download-platforms .platform-collection a,
.download-platforms .platform-collection img {
    display: flex;
    flex-wrap: wrap;
}
.download-platforms .platform-collection img:hover {
    cursor: pointer;
}
.load-container.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.loader.active {
    display: inline-block;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 5px solid white;
    border-bottom-color: var(--primary-color);

    animation: rotation 0.7s linear infinite;
}

.error-container, .error {
    display: none;
}
.error-container.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.error.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    border-radius: 10px;

    text-align: center;

    background-color: var(--primary-bg-color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    opacity: 0;

    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rightToLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.9;
    } to {
        opacity: 1;
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 481px) {
  /* Styles for screens wider than 480px */

}
@media (max-width: 768px) {
  /* Styles for screens wider than 768px (e.g., tablet portrait, small laptops) */

  .panel3 .description-images {
    margin: 20px;
    width: 100%;
  }
  .panel1 img {
    width: 100%;
  }
  footer {
    padding: 20px;
  }
}
@media (max-width: 1128px) {
  /* Styles for screens wider than 1024px (e.g., large tablets landscape, desktops) */
    .panel1 img {
    width: 60%;
  }
  nav .nav-menu{
    display: none;
  }
  nav {
    justify-content: space-between;
  }
  
  .container {
    flex-direction: column;
    align-items: start;
  }

  .nav-menu .loginBtn {
    display: flex;
    margin-right: 20px;
  }

  nav .hamburger-menu {
    display: flex;
  }
  .panel1 {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .panel1, .panel2, .panel3, .panel4 {
    padding: 50px 70px;
  }
}