a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
li {
    list-style: none;
}
u {
    color: inherit;
}
html, body {
    scroll-behavior: smooth;
}
body {
    height: 100dvh;
    width: 100%;

    animation: fade forwards 3s ease;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
    height: 85px;
    padding: 15px 30px;

    background-color: var(--main-bg-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}
nav .logo h1 {
    font-size: clamp(2em, 2vw, 2.2em);
}
nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1.1rem;
    font-weight: 600;
}
.nav-menu li a,
.nav-menu li a i {
    transition: all .3s ease;
}
nav .nav-menu li a:hover,
nav .nav-menu li a:hover i{
    color: var(--primary-color);
    cursor: pointer;
}
nav .nav-menu li:hover:nth-child(4) {
    all: unset;
}
.nav-menu .loginBtn {
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    
    font-weight: 600;
    font-size: 1.2rem;
    
    background-color: var(--primary-color);

    cursor: pointer;
    transition: all .1s ease-out;
}
.nav-menu .loginBtn:hover {
    background-color: var(--primary-color);
    scale: 1.05;
}
.nav-menu .loginBtn:active {
    background-color: orangered;
    scale: 0.95;
}
nav .nav-menu.active {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    
    background-color: black;

    transform: translateY(0);
}
nav .nav-menu.active .loginBtn {
    margin: 0;
}
nav .nav-menu.active :nth-child(4){
    display: none;
}
nav .hamburger-menu {
    position: fixed;
    right: 10px;

    display: none;
    border: none;

    font-size: 2em;

    background-color: transparent;
}


footer {
    background-color: black;
    padding: 50px 100px 50px 100px;
}
footer .container,
footer .last-container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
footer .container .footer-containers.logo {
    display: flex;
}
footer .container .footer-containers.logo h1 {
    margin: 1px 0 0 5px;
    font-weight: 600;
    font-size: 1.4rem;
}
footer .footer-containers p{
    color: gray;
}
footer .footer-containers li{
    margin: 15px 0;
}
footer .footer-containers li:hover,
footer .last-container li:hover{
    color: var(--primary-color);
    cursor: pointer;
}
footer svg {
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}
footer .last-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}