@import url(../css/aside.css);
@import url(../css/nav.css);
@import url(../css/animationsAndLoaders.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}
#gym\/workout {
    scroll-margin-top: 400px;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 25px;
    height: 70px;

    background-color: inherit;
}
.pageHeader {
    width: 400px;
}
 .left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1;
    padding: 10px 15px;
    width: 50%;
    border-radius: 50px;

    background-color: var(--secondary-bg-color);
}
.left-header.active {
    border: 1px solid var(--light-gray-color);
}

.right-header {
    display: flex;
    width: 410px;
    justify-content: right;
    gap: 20px;
}
.right-header svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}
.right-header svg:active {
    scale: 1.2;
    fill: orangered;
}
header input[type="text"] {
    width: 100%;
    border: none;

    font-size: 1.1rem;

    outline: none;
    background: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
    border-radius: 30px;    
}
section {
    flex: 1;
    background-color: var(--secondary-bg-color);
    border-radius: 30px;
    padding: 10px;
}
.playlists-navigations{
    position: sticky;
    top: 80px;
    z-index: 20;

    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: left;
    border-radius: 10px;
    /* margin: 20px; */
    padding: 25px;
    border-bottom: 2px solid var(--gray-color) ;
}
.playlists-navigations a {
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 12px;
    margin: 0 10px;
    border-radius: 25px;

    transition: all 0.3s ease;
}
.playlists-navigations a:hover {
    background-color: var(--gray-color);
    
}
.playlists-navigations a.active {
    background-color: white;
    color: black;
}
.albums-section,
.artists-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.albums,
.artists {
    display: flex;
    overflow: auto;

}
.albums img {
    border-radius: 10px;
    margin: 0px 5px 20px 5px;
}
.albums .cards,
.artists .cards {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: left;

    padding: 15px;
    margin-bottom: 10px;
    height: fit-content;

    transition: all 0.3s ease-out ;
}
.cards p:nth-child(2) {
    font-weight: 600;
}
.cards p:nth-child(3) {
    color: var(--light-gray-color);
    font-weight: 500;
}
.albums .cards:hover,
.artists .cards:hover {
    background-color: var(--primary-bg-color);
    border-radius: 23px;
}
.artists .cards img {
    margin: 0px 5px 20px 5px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}
.cards img {
    object-fit: cover;
}
.cards::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path fill="white" d="M240 128a15.74 15.74 0 0 1-7.6 13.51L88.32 229.65a16 16 0 0 1-16.2.3A15.86 15.86 0 0 1 64 216.13V39.87a15.86 15.86 0 0 1 8.12-13.82a16 16 0 0 1 16.2.3l144.08 88.14A15.74 15.74 0 0 1 240 128"/></svg>');
    position: absolute;
    right: 30px;
    bottom: 90px;

    display: none;
    justify-content: center;
    align-items: center;

    padding: 12px 14px 2px 12px;
    border-radius: 50px;

    font-size: 2rem;

    background-color: var(--primary-color);
}

.artists .cards::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="white" fill-rule="evenodd" d="M18.75 10.75V8h1.5v2.75H23v1.5h-2.75V15h-1.5v-2.75H16v-1.5zm-10.918 1.6C7.096 11.478 6.5 9.85 6.5 8.71V7a4 4 0 0 1 8 0v1.71c0 1.14-.6 2.773-1.332 3.642l-.361.428c-.59.699-.406 1.588.419 1.99l5.66 2.762c.615.3 1.114 1.093 1.114 1.783v.687a1 1 0 0 1-1.001.998H2a1 1 0 0 1-1-.998v-.687c0-.685.498-1.483 1.114-1.784l5.66-2.762c.821-.4 1.012-1.288.42-1.99z"/></svg>');
    padding: 10px 12px 4px 12px;
}
.cards:hover::after{
    animation: slideIn 0.3s ease-out forwards;
    display: flex;
    cursor: pointer;
}