:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}
/* orange #FF6A21
dark gray #212121
super dark gray 	#121212
gray 	#535353
light gray 	#b3b3b3 */
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid white; */
}
a {
    transition: all .15s ease-out;
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    width: 100%;

    background-color: var(--primary-bg-color);

    animation: fade forwards 3s ease;
}
body > P,
body p a {
    margin-top: 30px;
    text-align: center;
    font-size: 0.8rem;
    width: 500px;
    color: var(--light-gray-color);
}
body p a:active {
    color: white;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 430px;
    padding: 50px 20px;
    border-radius: 25px;
    
    background-color: var(--primary-bg-color);
}
section form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;

    font-size: 1rem;
    font-weight: 500;
}
form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px var(--primary-bg-color) solid;

    font-size: 1rem;
    font-weight: 600;
    
    background-color: var(--secondary-bg-color);
}
form input[type="email"],
form input[type="text"],
form input[type="password"] {
    outline: var(--gray-color) 2px solid;
}
form input[type="email"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
    outline:#FF6A21 2px solid;
}
form input[type="submit"] {
    border: none;
    background-color: var(--primary-color);

    cursor: pointer;
    transition: all .2s ease-out;
}
form input[type="submit"]:hover {
    background-color: #fa6216;
    scale: 1.05;
}
form .forgot {
    margin: 10px 0;
}
form .createAcc {
    margin: 10px 0;
}
section a.back {
    position: absolute;
    top: 3%;
    left: 2%;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}
section .lower-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
}
.lower-part .or  {
    display: flex;
    align-items: center;
    gap: 10px;
}
.lower-part > p {
    margin-top: 10px;
    color: var(--light-gray-color);
    font-weight: 500;
}
form a:hover,
.lower-part > a:hover {
    font-weight: 600;
}
section .social-container {
    display: flex;
    gap: 10px;
}
/* .social-container a {
    transition: all .15s ease-out;
} */
.social-container a:hover {
    background-color: var(--gray-color);
}
.social-container .socials {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 3px 20px;
    border: 2px solid var(--gray-color);
    border-radius: 50px;

    font-weight: 600;
}

.error-container, .error {
    display: none;
}

.error-container.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.error.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    border-radius: 10px;

    text-align: center;
    
    background-color: var(--primary-bg-color);
    opacity: 0;

    animation: slideUp 0.5s ease-out forwards;
}
@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}
