:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    ---secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    /* border: 1px solid var(--primary-color); */
}

a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
/* orange #FF6A21
dark gray #212121
super dark gray 	#121212
gray 	#535353
light gray 	#b3b3b3 */
html, body {
    scroll-behavior: smooth;
}
body {
    height: 100dvh;
    width: 100%;
    /* background-color: var(--primary-color); */
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--main-bg-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}
nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-menu li a,
.nav-menu li a i {
    transition: all .3s ease;
}
nav .nav-menu li a:hover,
nav .nav-menu li a:hover i{
    color: var(--primary-color);
    cursor: pointer;
}
nav .nav-menu li:hover:nth-child(4) {
    all: unset;
}
.nav-menu button {
    padding: 10px 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 1.2rem;

    cursor: pointer;
    transition: all .1s ease-out;
}
.nav-menu button:hover {
    background-color: var(--primary-color);
    scale: 1.05;
}
.nav-menu button:active {
    background-color: orangered;
    scale: 0.95;
}

main {
    margin-top: 10px;
}
.panel1 {
    margin: 85px 0;
    padding: 100px;

    background-color: var(--main-bg-color);
    background: #212121;
    background: -webkit-linear-gradient(271deg,rgba(33, 33, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -moz-linear-gradient(271deg,rgba(33, 33, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(271deg,rgba(33, 33, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#212121",
    endColorstr="#000000",
    GradientType=0);
}

.panel1{
    animation: slideUp forwards 1.5s ease-in;
}

.panel1 h2{
    font-size: 10em;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
}
.panel1 button {
    padding: 10px 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 1.2rem;

    margin: 30px 0;
    cursor: pointer;
    transition: all .1s ease-out;
}
.panel1 button:hover {
    background-color: var(--primary-color);
    scale: 1.05;
}
.panel1 button:active {
    background-color: orangered;
    scale: 0.95;
}
.panel1 p {
    font-size: 0.9rem;
    color: var(--light-gray-color);
}



.panel2 {
    padding: 100px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    background-color: var(--main-bg-color);
}
.panel2 h2 {
    font-size: 2em;
}
.panel2 p {
    font-size: 1.1rem;
}


@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}
