@import url(../css/aside.css);
@import url(../css/nav.css);
@import url(../css/animationsAndLoaders.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 25px;
    height: 70px;

    background-color: inherit;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    padding: 10px 15px;
    border-radius: 50px;

    background-color: var(--secondary-bg-color);
}
.left-header.active {
    border: 1px solid var(--light-gray-color);
}
.right-header {
    display: flex;
    gap: 20px;
}
.right-header svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}
.right-header svg:active {
    scale: 1.2;
    fill: orangered;
}
header input[type="text"] {
    border: none;
    font-size: 1.1rem;
    background: none;
    outline: none;
    width: 100%;
}

main {
    margin: 0 10px;
    padding: 20px 10px;
    border-radius: 30px;

    background-color: var(--secondary-bg-color);
}
section.notification-filter {
    position: sticky;
    top: 100px;
    z-index: 10;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    /* padding: 10px 30px 30px 30px; */
    border-radius: 10px;
    padding: 25px 20px 30px 20px;
    border-bottom: 2px solid var(--gray-color);
}
.notification-filter .markRead {
    font-weight: 600;
    text-decoration: underline;
}
.notification-type a {
    margin: 0 10px;
    padding: 5px 15px;

    font-weight: 400;
    font-size: 1.1rem;

    transition: all 0.2s ease;
}
.notification-type a:hover {
    background-color: var(--gray-color);
    border-radius: 50px;
}
.notification-type a.active {
    border-radius: 50px;

    color: black;
    font-weight: 600;

    background-color: white;
}
.notification-type a span {
    padding: 2px 5px;
    
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.9rem;
    
    border-radius: 8px;
}

.notification-container {
    margin: 20px 0;
}
.notification-header {
    display: flex;
    justify-content: space-between;

    padding: 0 20px;

    font-weight: 500;
    font-size: 1.1rem;
}
.notification-container h2 {
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-color);
}
.notification-box {
    display: flex;
    align-items: center;

    padding: 20px;
    
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.notification-box .logo svg.read,
.notification-box .logo .name .read,
.notification-box .time .read,
.notification-box .date .read,
.notification-box .more svg.read {
    color: var(--light-gray-color);
    fill: var(--light-gray-color);
}
.notification-box .more svg:hover {
    /* fill: var(--primary-color); */
    background-color: var(--gray-color);
    border-radius: 5px;
}
.notification-box:hover {
    background-color: var(--primary-bg-color);
    border-radius: 15px;
}
section .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    
    width: 50%;
}
.time,
.date,
.more {
    width: 20%;
    display: flex;
    justify-content: center;
}
.more {
    justify-content: right;
}
