@import url(../css/aside.css);
@import url(../css/nav.css);
@import url(../css/animationsAndLoaders.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 25px;
    height: 70px;

    background-color: inherit;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 15px;
    width: 50%;
    border-radius: 50px;

    background-color: var(--secondary-bg-color);
}
.left-header.active {
    border: 1px solid var(--light-gray-color);
}
.right-header {
    display: flex;
    gap: 20px;
}
.right-header svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}
.right-header svg:active {
    scale: 1.2;
    fill: orangered;
}
header input[type="text"] {
    border: none;
    font-size: 1.1rem;
    background: none;
    outline: none;
    width: 100%;
}

main {
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;

    background-color: var(--secondary-bg-color);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.queue-navigations{
    position: sticky;
    top: 100px;
    z-index: 20;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: left;
    border-radius: 10px;
    /* margin: 20px; */
    padding: 25px;
    border-bottom: 2px solid var(--gray-color) ;
}

.queue-navigations a {
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 12px;
    margin: 0 10px;
    border-radius: 25px;

    transition: all 0.3s ease;
}
.queue-navigations a:hover {
    background-color: var(--gray-color);
    
}
.queue-navigations a.active {
    background-color: white;
    color: black;
}
.queue-container h2 {
    margin: 30px 10px 10px 20px;
}
.song-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    transition: all 0.2s ease-out;
    cursor: pointer;
}
.song-card .song-logo {
    display: flex;
    align-items: center;
    flex: 1;
}
.song-card:hover {
    background-color: var(--primary-bg-color);
    border-radius: 20px;
}
.song-album, .song-duration {
    width: 350px;
}
.song-logo {
    gap: 20px;
    font-weight: 600;
}
.song-card .song-logo h3 {
    margin: 0 10px;
}
.song-logo img {
    border-radius: 10px;
}

