@import url(../css/aside.css);
@import url(../css/nav.css);
@import url(../css/animationsAndLoaders.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 25px;
    height: 70px;

    background-color: inherit;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 15px;
    width: 50%;
    border-radius: 50px;

    background-color: var(--secondary-bg-color);
}
.left-header.active {
    border: 1px solid var(--light-gray-color);
}
.right-header {
    display: flex;
    gap: 20px;
}
.right-header svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}
.right-header svg:active {
    scale: 1.2;
    fill: orangered;
}
header input[type="text"] {
    border: none;
    font-size: 1.1rem;
    background: none;
    outline: none;
    width: 100%;
}

main {
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;

    background-color: var(--secondary-bg-color);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section h2 {
    text-align: left;
    margin: 20px;

}
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 400px;
    border-radius: 20px;

    background-color: var(--light-gray-color);
    background-size: cover;
}
.box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 20px;

    background-color: rgba(0,0,0,0.5);
    
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.box h2:hover{
    background-color: rgba(0,0,0,0.7);
}

.box:nth-child(1) {
    background-image: url("../assets/images/categories/category-01.jpg");
}
.box:nth-child(2) {
    background-image: url("../assets/images/categories/category-02.jpg");
}
.box:nth-child(3) {
    background-image: url("../assets/images/categories/category-03.jpg");
}
.box:nth-child(4) {
    background-image: url("../assets/images/categories/category-04.jpg");
}
.box:nth-child(5) {
    background-image: url("../assets/images/categories/category-05.jpg");
    background-position: center;
}
.box:nth-child(6) {
    background-image: url("../assets/images/categories/category-06.jpg");
    background-position: center;
}
.box:nth-child(7) {
    background-image: url("../assets/images/categories/category-07.jpg");
}
.box:nth-child(8) {
    background-image: url("../assets/images/categories/category-08.jpg");
    background-position: center;
}
.box:nth-child(9) {
    background-image: url("../assets/images/categories/category-09.jpg");
    background-position: center;
}
.box:nth-child(10) {
    background-image: url("../assets/images/categories/category-10.jpg");
}
.box:nth-child(11) {
    background-image: url("../assets/images/categories/category-11.jpg");
}
.box:nth-child(12) {
    background-image: url("../assets/images/categories/category-12.jpg");
    background-position: center;
}
.box:nth-child(13) {
    background-image: url("../assets/images/categories/category-13.jpg");
    background-position: center;
}
.box:nth-child(14) {
    background-image: url("../assets/images/categories/category-14.jpg");
}
.box:nth-child(15) {
    background-image: url("../assets/images/categories/category-15.jpg");
    background-position: center;
}
.box:nth-child(16) {
    background-image: url("../assets/images/categories/category-16.jpg");
    background-position: center;
}
.box:nth-child(17) {
    background-image: url("../assets/images/categories/category-17.jpg");
}
.box:nth-child(18) {
    background-image: url("../assets/images/categories/category-18.jpg");
    background-position: center;
}
.box:nth-child(19) {
    background-image: url("../assets/images/categories/category-19.jpg");
    background-position: center;
}
.box:nth-child(20) {
    background-image: url("../assets/images/categories/category-20.jpg");
    background-position: center;
}