@import url(../css/aside.css);
@import url(../css/nav.css);
@import url(../css/animationsAndLoaders.css);

:root {
    --main-bg-color: #000;
    --primary-bg-color: #121212;
    --secondary-bg-color: #212121;
    --gray-color: #535353;
    --light-gray-color: #b3b3b3;
    --primary-color: #FF6A21;
    --main-text-color:white;
    --main-font: Montserrat, sans-serif;
    /* --secondary-font:  DM Serif Text, Tahoma; */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--main-font);
    box-sizing: border-box;
    /* border: 1px solid var(--primary-color); */
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 25px;
    height: 70px;

    background-color: inherit;
}
.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    padding: 10px 15px;
    border-radius: 50px;

    background-color: var(--secondary-bg-color);
}
.left-header.active {
    border: 1px solid var(--light-gray-color);
}
.right-header {
    display: flex;
    gap: 20px;
}
.right-header svg:hover {
    fill: var(--primary-color);
    cursor: pointer;
}
.right-header svg:active {
    scale: 1.2;
    fill: orangered;
}
header input[type="text"] {
    border: none;
    font-size: 1.1rem;
    background: none;
    outline: none;
    width: 100%;
}

main {
    margin: 0 10px;
    padding: 20px 10px;
    border-radius: 30px;

    background-color: var(--secondary-bg-color);
}
main > h1, main > p {
    margin: 10px;

    text-align: center;
    opacity: 0;
    
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.4s;
}
main > h1 {
    font-size: 3rem;
}
main > p {
    font-size: 1.2rem;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    margin: 60px 0;
}
section li {
    list-style: disc;
}
.premium-box {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    width: 390px;
    padding: 50px 20px 60px 20px;
    border-radius: 15px;

    background-color: var(--secondary-bg-color);
    box-shadow: rgba(255, 255, 255, 0.45) 0px 25px 20px -20px;
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.3),  
    0 8px 20px rgba(0, 0, 0, 0.25);
}

.premium-box.orange{
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.8s;
}
.premium-box.violet{
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.2s;
}
.premium-box.yellow{
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.4s;
}
.premium-box.blue{
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.6s;
}

.premium-box span {
    position: absolute;
    top: 0;
    left: 0;

    padding: 10px 20px;
    border-radius: 15px 0 15px 0;

    font-weight: 500;

    background-color: var(--primary-color);
}
section .premium-box .premium-title .logo {
    display: flex;
    align-items: center;
    gap: 5px;

    margin: 8px 0;

    font-size: 1.1rem;
    font-weight: 600;
}
.premium-box.orange h1 {
    font-size: 2.7em;
    margin: 0 0 5px 0;
    color:  var(--primary-color);
}
.premium-box p {
    font-size: 0.9rem;
    margin: 1px 0;
    font-weight: 600;
}
.premium-box .gray-text {
    font-weight: 500;
    color: var(--light-gray-color);
}
.premium-box li {
    margin: 0 20px;
}
.premium-box button {
    margin: 30px 0;
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    
    font-weight: 600;
    font-size: clamp(0.7rem, 2vw, 1rem);

    background-color: var(--primary-color);

    cursor: pointer;
    transition: all .1s ease-out;
}
.premium-box button:hover {
    opacity: 0.93;
    scale: 1.03;
}
.premium-box button:active {
    scale: 0.98;
}
.premium-box .premium-description {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--light-gray-color);
    max-width: 350px;
}
section .premium-box.violet h1{
    color: violet;
}
section .premium-box.violet span,
section .premium-box.violet button {
    background-color: violet;
}
section .premium-box h1{
    color: yellowgreen;
}
section .premium-box.yellow span,
section .premium-box.yellow button {
    background-color: yellowgreen;
}
section .premium-box.blue h1{
    color: dodgerblue;
}
section .premium-box.blue span,
section .premium-box.blue button {
    background-color: dodgerblue;
}